.container {
    height: 100%;
    object-fit: cover;  
    padding-top: 56px;
    margin: 10px;
    line-height: 115px;
    text-align: center;
}
.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

h1 {
    text-decoration-color: black;
}

main{
    padding-top: 80px;
}

td{
    border: 1.5px solid #ddd;
    border-radius: 50%;
}

th{
    border: 1.5px solid #ddd;
    border-radius: 50%;
}

.floatRight{
    float:right;margin-right:600px
}

.instructions{
    padding-top: 100px;
}